.navbar {
  background-color: white;
  border-color: #eeee;
  height: 100vh;
  width: 250px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  padding-top: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}
  
.nav-container {
  display: flex;
  flex-direction: column; 
}
  
.nav-menu {
  list-style: none;
  flex-direction: column; 
  padding-left: 0;
  width: 100%;
}

.nav-item{
  width:100%;
}

.hamburger-menu {
  display: none;
}
  
.nav-links {
  color: #7f7f7f; 
  text-decoration: none;
  font-weight: bold;
  display: block; 
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  padding-left: 10%;
}

.nav-links:hover,
.nav-links.active {
  background-color: #f2f2f2; 
  color: black;
}

.logo {
  border-color:#7f7f7f;
  text-align: center;
  width: 200px;
  padding-top: 20px;
  margin: auto;
}
  
@media (max-width: 1200px) {
  .navbar {
    width: 100%;
    height: auto; 
    position: relative; 
    padding: 30px;
  }

  .nav-links {
    padding:15px;
    display: flex;
    justify-content: center;
  }
  
  .nav-menu {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  
  .hamburger-menu {
    display: block;
    max-width: 50px;
    position: absolute;
    top: 100px;
    right: 20px;
  }

  .nav-item {
    display: inline-block;
  }
  
  .nav-container {
    display: none;
  }

  .nav-container.active {
    display:flex;
  }
}
  